@import url("https://fonts.fontstorage.com/import/avertademo.css");
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.hero_navbar {
  font-family: "Fahkwang", sans-serif;
  font-weight: 100;
}

.hero_text span {
  font-family: "Fahkwang", sans-serif;
  font-weight: 900;
}

.fonts-text {
  font-family: 'Averta Demo';
}

.inter-fonts {
  font-family: "Inter", sans-serif;
}

.circle {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: #C3D9FB;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s;
}

.circle.active {
  background-color: #2376F3;
  color: white;
}

#hide {
  cursor: not-allowed;
  background-color: gray;
}

.navbar-container {
  /* width: 35.3vw; */
  width: 100px;
  height: 40px;
}

.multistep-container {
  background-image: url("/assets/Images/circuitimage.png");
  background-repeat: no-repeat;
  background-size: 25% 50%;
  background-position: left center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
.fakwa {
  font-family: "Fahkwang", sans-serif;
}

.Hero {
  background-image: url("/assets/Images/Heromap.svg");
  font-family: "Fahkwang", sans-serif;
  background-repeat: no-repeat;
  background-size: 48vw 90%;
  background-position: right bottom;
  background: linear-gradient(167.7deg, #060D17 70%, white 30%);
  
}

.hero_navbar .active {
  font-style: italic;
  font-weight: 500;
}

.form-navigation {
  display: flex;
  /* justify-content: space-evenly; */
  margin-top: 20px;
  gap: 5vw;
}
.form-navigation  button{
  background-color: #2961ED;
  padding: 1rem;
  border-radius: 50%;
}

/* responsive design */
@media screen and (max-width:767px) {
  .Hero {
    /* background-image: url("/assets/Images/Heromap.svg"); */
    background: none;
    font-family: 'Averta Demo';
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: auto 87%;
    background-position: right bottom;
    background: linear-gradient(160deg, #060D17 80%, black 20%);
  }
  .circle {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: #C3D9FB;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s;
  }
  .navbar-container {
    /* width: 35.3vw; */
    margin: 7.2vw 0rem;
    height: 8vw;
  }
  .navbar-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0vw 0rem;
  }
  .form-navigation  button{
    background-color: #2961ED;
    padding: 3vw;
    font-size: 2vw;
    border-radius: 50%;
  }

  .hero_text {
    align-items: center;
    justify-content: center;
    font-size: 12vw;
  }
}

@media (min-width: 768px) and (max-width:1024px) {
  .Hero {
    background-image: url("/assets/Images/Heromap.svg");
    /* background: none; */
    font-family: 'Averta Demo';
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: right bottom;
    background: linear-gradient(167deg, #060D17 70%, black 30%);
  }
  .navbar-container {
    /* width: 35.3vw; */
  width: 120px;
  margin: 4vw 0rem;
    height: 8vw;
  }
  .navbar-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 1vw 0rem;
  }

  .hero_text {
    align-items: center;
    justify-content: center;
    font-size: 12vw;
  }
}